<h3 class="ui header">{{t "forms.i-i-s-otdel-logistiki-трансп-ср-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.марка
      class=(if (v-get validationModel "марка" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-трансп-ср-e.марка-caption")
      data-test-i-i-s-otdel-logistiki-трансп-ср-e-марка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "марка" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.госЗнак
      class=(if (v-get validationModel "госЗнак" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-трансп-ср-e.госЗнак-caption")
      data-test-i-i-s-otdel-logistiki-трансп-ср-e-госЗнак=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "госЗнак" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.модель
      class=(if (v-get validationModel "модель" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-трансп-ср-e.модель-caption")
      data-test-i-i-s-otdel-logistiki-трансп-ср-e-модель=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "модель" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-трансп-ср-e.персонал-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.персонал
      displayAttributeName="контакты"
      autocomplete=true
      relationName="персонал"
      projection="ПерсоналL"
      title=(t "forms.i-i-s-otdel-logistiki-трансп-ср-e.персонал-caption")
      readonly=readonly
      componentName="персоналLookup"
      class=(if (v-get validationModel "персонал" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-трансп-ср-e-персонал=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "персонал" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-трансп-ср-e.журналУчета-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.журналУчета
      displayAttributeName="фИО"
      autocomplete=true
      relationName="журналУчета"
      projection="ЖурналУчетаL"
      title=(t "forms.i-i-s-otdel-logistiki-трансп-ср-e.журналУчета-caption")
      readonly=readonly
      componentName="журналУчетаLookup"
      class=(if (v-get validationModel "журналУчета" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-трансп-ср-e-журналУчета=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "журналУчета" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-трансп-ср-e.путевойЛист-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.путевойЛист
      displayAttributeName="сопровожЛица"
      autocomplete=true
      relationName="путевойЛист"
      projection="ПутевойЛистL"
      title=(t "forms.i-i-s-otdel-logistiki-трансп-ср-e.путевойЛист-caption")
      readonly=readonly
      componentName="путевойЛистLookup"
      class=(if (v-get validationModel "путевойЛист" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-трансп-ср-e-путевойЛист=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "путевойЛист" "message")}}
  </div>
</form>
