<h3 class="ui header">{{t "forms.i-i-s-otdel-logistiki-контрагент-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.организация
      class=(if (v-get validationModel "организация" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-контрагент-e.организация-caption")
      data-test-i-i-s-otdel-logistiki-контрагент-e-организация=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "организация" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.ответсЛицо
      class=(if (v-get validationModel "ответсЛицо" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-контрагент-e.ответсЛицо-caption")
      data-test-i-i-s-otdel-logistiki-контрагент-e-ответсЛицо=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ответсЛицо" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-контрагент-e.рукОтдЛог-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.рукОтдЛог
      displayAttributeName="фИО"
      autocomplete=true
      relationName="рукОтдЛог"
      projection="РукОтдЛогL"
      title=(t "forms.i-i-s-otdel-logistiki-контрагент-e.рукОтдЛог-caption")
      readonly=readonly
      componentName="рукОтдЛогLookup"
      class=(if (v-get validationModel "рукОтдЛог" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-контрагент-e-рукОтдЛог=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "рукОтдЛог" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-контрагент-e.договор-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.договор
      displayAttributeName="обязанПосред"
      autocomplete=true
      relationName="договор"
      projection="ДоговорL"
      title=(t "forms.i-i-s-otdel-logistiki-контрагент-e.договор-caption")
      readonly=readonly
      componentName="договорLookup"
      class=(if (v-get validationModel "договор" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-контрагент-e-договор=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "договор" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-контрагент-e.тЧЗаданВод-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.тЧЗаданВод
      displayAttributeName="пунктНазнач"
      autocomplete=true
      relationName="тЧЗаданВод"
      projection="ТЧЗаданВодL"
      title=(t "forms.i-i-s-otdel-logistiki-контрагент-e.тЧЗаданВод-caption")
      readonly=readonly
      componentName="тЧЗаданВодLookup"
      class=(if (v-get validationModel "тЧЗаданВод" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-контрагент-e-тЧЗаданВод=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧЗаданВод" "message")}}
  </div>
</form>
