<h3 class="ui header">{{t "forms.i-i-s-otdel-logistiki-т-ч-задан-вод-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.расстояние
      class=(if (v-get validationModel "расстояние" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-т-ч-задан-вод-e.расстояние-caption")
      data-test-i-i-s-otdel-logistiki-т-ч-задан-вод-e-расстояние=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "расстояние" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-logistiki-т-ч-задан-вод-e.датаВремя-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаВремя
      class=(if (v-get validationModel "датаВремя" "isInvalid") "error")
      data-test-i-i-s-otdel-logistiki-т-ч-задан-вод-e-датаВремя=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаВремя" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.пунктНазнач
      class=(if (v-get validationModel "пунктНазнач" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-т-ч-задан-вод-e.пунктНазнач-caption")
      data-test-i-i-s-otdel-logistiki-т-ч-задан-вод-e-пунктНазнач=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктНазнач" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.пунктОтправ
      class=(if (v-get validationModel "пунктОтправ" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-logistiki-т-ч-задан-вод-e.пунктОтправ-caption")
      data-test-i-i-s-otdel-logistiki-т-ч-задан-вод-e-пунктОтправ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктОтправ" "message")}}
  </div>
</form>
